services:
  - type: web
    name: travelpin-backend
    env: node
    plan: free
    region: oregon
    repo: ""
    branch: main
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: "10000"
